*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  
}
:root {
  background-color: #f8f8f8;
  overflow-x: hidden;
}

@font-face {
  font-family: PtSerif;
  src: url(./assets/PT_Serif-Web-Regular.ttf);
}

.App {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  width: 100%;
  max-width: 58.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0 2.65rem;
}

.hambNav {
  display: none;
}


.menuUl ul, .menuUl a {
  display: flex;
  flex-wrap: nowrap;
  gap: 3rem;
  list-style: none;
  text-decoration: none;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 1rem;
  color: #23292a;
  padding: 0 0 .5rem;
}

a:hover {
  cursor: pointer;
  font-weight: bold;
}

.logo img {
  max-width: 8.5rem;
}

.initialSection {
  width: 100%;
  max-width: 58.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  margin-bottom: 6rem;
}

.initText {
  width: 100%;
  max-width: 23.5rem;
}

.initText h2 {
  width: 100%;
  font-family: PtSerif;
  font-size: 3.25rem;
  font-weight: 500;
  line-height: 2.75rem ;
  margin: 0;
}

.initText p {
  font-family: Montserrat;
  color: #626a6c;
  font-size: 0.9rem;
  line-height: 1.1rem;
  margin: 1.1rem 0 1.8rem;
  font-weight: 500;
}

.initImg{
  max-width: 30rem;
  min-width: 15rem;
  box-shadow: 0 1.5rem 2.5rem #00000010;
}

.initImg img {
  width: 100%;
}

.initButtons {
  display: flex;
  gap: 1.65rem;
}

#toWorks {
  background-color: #1cbfdf;
  border: none;
  width: 9.05rem;
  padding: .75rem 1.5rem;
}

#toWorks a {
  text-decoration: none;
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 500;
}


#contactUs {
  background-color: #ffffff;
  border: 0.2rem solid #1cbfdf;
  width: 11.75rem;
  padding: .75rem 1.5rem;

}

#contactUs a {
  font-size: 0.9rem;
  text-decoration: none;
  color: #1cbfdf;
  font-weight: 500;
}

button {
  cursor: pointer;
}

.serviceSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 58.5rem;
  margin-bottom: 5rem;
}

.servTitle h2 {
  font-family: PtSerif;
  font-size: 2.15rem;
  font-weight: 500;
  margin: 0 0 2.25rem;
}

.servBoxes {
  display: flex;
  flex-wrap: wrap ;
  justify-content: center;
  gap: 1.5rem;
}

.servbox {

  background-color: #ffffff;  
  box-shadow: 0 1.5rem 2.5rem #00000010; 
  min-width: 13.5rem;
}

.innerDiv {
  margin: 1.6rem;
  width: 100%;
}

.servIcon {
  border: 0.25rem solid #dedede;
  border-radius: 5rem;
  width: 5rem;
  margin-bottom: 1rem;
  max-width: 5rem;
  width: 100%;
}

.servIcon img {
  margin: 1rem 1rem;
}

.servbox h4 {
  font-family: Montserrat;
  font-weight: bold;
  margin: 0;
  font-size: 1rem;
  width: 100%;
}

.sec2Bg {
  background-color: #1cbfdf;
  width: 100vw;
  height: 24.2rem;
  position: absolute;
  top: 44rem;
  z-index: -1;
}

.recentWorks {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  background-color: #ffffff;
}

.recText {
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 4rem;
}

.recText h4 {
  font-family: PtSerif;
  font-size: 2.15rem;
  font-weight: 500;
  margin: 0;
  text-align: center;
}

.recText p {
  font-family: Montserrat;
  color: #626a6c;
  font-size: 0.8rem;
  line-height: 1.1rem;  
  font-weight: 500;
  margin: 0;
}

.workContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 58.5rem;
  gap: 1rem;
  margin-bottom: 3rem ;
}

.contentImg {
  box-shadow: 0 1.5rem 2.5rem #00000010; 
  width: 31.25rem;
}

.contentImg img {
  width: 100%;
}

.contentText {
  width: 18.5rem;
}

.contentText h4 {
  font-family: PtSerif;
  font-weight: 500;
  font-size: 1.55rem;
  line-height: 1.55rem;
  margin: 0;
}

.contentText p {
  font-family: Montserrat;
  color: #626a6c;
  font-size: 0.8rem;
  line-height: 1.1rem;
  margin: 1.5rem 0;
  font-weight: 500;
}

.distacNLogo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.distacNLogo p {
  margin: 0;
  color:#1cbfdf;
  font-weight: bold;
  font-size: 1.05rem;
  max-width: 7.45rem;
}

.distacNLogo span {
  align-content: center;
  text-align: center;
  border: 0.05rem solid #e1e9eb;
  width: 8.5rem;
  height: 3.7rem;
}

.otherWorksBg {
  background-color: #f8f8f8;
  width: 100vw;
  padding-bottom: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.recText {
  margin-bottom: 3rem;
}

.otherWorksContent {
  width: 100%;
  max-width: 58.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel {
  display: flex;
  cursor: grab;
  overflow: hidden;
}

.carouselDiv {
  display: flex;
  gap: 1.5rem;
}

.imgDiv {
  box-shadow: 0 1.5rem 2.5rem #00000010;
  width: 13.5rem;
  height: 11rem;
}

.imgDiv img {
  width: 100%;
  pointer-events: none;
}

.callToAction {
  background-color: #1cbfdf;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ctaText {
  margin-top: 4.5rem;
  text-align: center;
}

.ctaText h4{
  font-family: PtSerif;
  width: 38.5rem;
  color: #ffffff;
  font-weight: 500;
  font-size: 2.15rem;
  line-height: 2.5rem;
  margin: 0 0 3rem;
}

.callToAction form {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  width: 38.5rem;
  margin-bottom: 4.5rem;
}

.callToAction input {
  background-color: #ffffff;
  color: #878787;
  border: none;
  padding: 1rem 6.15rem 1rem 1.15rem;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 0.9rem;
  width: 18.5rem;
}

.callToAction button {
  width: 8.5rem;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 0.75rem;
  color: #ffffff;
  background-color: #23292a;
  padding: 1rem 1.35rem;
}

.footer {
  width: 100vw;
  background-color: #23292a;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer hr {
  border: 0.05rem solid #ffffff;
  width: 100%;
  max-width: 58.5rem;
}

.footer p {
  color: #878787;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 0.7rem;
  margin: 1rem 0;
}

.contactF {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1rem;
  width: 100%;
  gap: 1rem;
  max-width: 58.5rem;
  margin: 3rem 0 3rem;
}

.contact1 {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  height: 1.15rem;
}

.contact1 p {
  color: #878787;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .logo {
    padding-left: 1rem;
  }
  .hambNav {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
  }

  .menuStick {
    width: 2.25rem;
    height: 0.4rem;
    background-color: #000;
    transition: all .55s;
  }
  
  .top {
    margin-top: .3rem;
    position: absolute;
    transform: rotate(-45deg);
    transition: all .55s;
    background-color: #1cbfdf;
  }
  
  .middle {
    margin-top: .3rem;
    transition: all .55s;
    transform: rotate(45deg);
    background-color: #1cbfdf;
  }
  
  .bottom {
    display: none;
  }

  .menuUl {
    display: none;
  }
  
  .maxBar {
    display: flex;
    width: 100%;
    
  }

  .maxBar ul {
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8; 
    width: 100%;  
    top: 6rem;
    left: 0;
    padding: 4rem;
    position: absolute; 
    transition: all 1s; 
    box-shadow: 0 1.5rem 2.5rem #00000010;
  }

  .maxBar a {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
  }

  .initialSection {
    justify-content: center;
  }

  .initText h2 {
   text-align: center; 
   padding: 0 1rem;
  }
 
  .initText p {
    font-size: 0.8rem;
    text-align: center; 
    padding: 0 1rem;
  }
  
  .initImg{
  display: none;
  }
  
  .initButtons {   
    justify-content: center;
    gap: 1rem;
    padding: 0 1rem;
  }
  
  #toWorks {
    min-width: 9.05rem;
    padding: 1rem .5rem;
  }
  
  
  #contactUs {
    min-width: 9.05rem;
    padding: 1rem .5rem  
  }

  .serviceSection, .otherWorksContent {
    overflow: hidden;
    margin-bottom: 1rem;
  }
   
  .servBoxes, .carousel {
    display: flex;
    justify-content: flex-start;
    cursor: grab;
    overflow: hidden;
    width: 100%;
    padding-left: 4rem;
  }

  .carousel {
    padding-left: 3rem;
  }

  .servBoxesDiv, .carouselDiv {
    display: flex;
    flex-wrap: nowrap;
    gap: 1.5rem;
  }
  
  
  .servbox {
    box-shadow: 0 1.5rem 2.5rem #00000010;

  }

  .innerDiv {
    pointer-events: none;
  }

  .sec2Bg {
    height: 9rem;
    top: 39rem;
  }

  .recText {
    text-align: center;
    padding: 0 1rem;
  }

  .workContent {
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
  }

  .contentText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 0 auto; */
  }

  .contentImg {
    width: 100%;
  }

  .reverse {
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    }
  
  .reverse .contentText {
    max-width: 16rem; 
  }  

  .distacNLogo {
    width: 100%;
  }
  
  .ctaText {
    margin-top: 4.5rem;
    text-align: center;
    padding: 0 1rem;
  }
  
  .ctaText h4{
    width: 100%;
    font-size: 1.9rem;
    margin: 0 0 1.5rem;
  }
  
  .callToAction form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 25rem;
    padding: 0 1rem; 
  }
  
  .callToAction input {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  .callToAction button {
    width: 100%;
  }
  
  .contactF {
    flex-direction: column;
    justify-items: center;

  }
}

@media (max-width: 425px) {
  .initialSection {
    margin-bottom: 3rem;
  }

  .initText h2 {
    font-size: 2.5rem;
  }

  .initButtons {   
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .serviceSection h2 {
    font-size: 2rem;
  }

  .sec2Bg {
    top: 41rem;
  }

  .contentText {
    padding: 0 1rem;
  }

  .recText h4 {
    font-size: 2rem;
    line-height: 1.9rem;
    margin-bottom: 1rem;
  }

  .recText {
    margin-top: 3rem;
  }

  .contactF {
    align-items: center;
  }

  .contact1 img {
    display: none;
  }

}